			body{
				margin-top:0px;
				margin-bottom:0px;
				margin-left:0px;
				margin-right:0px;
			}
			#tudo{
				width:100%;
				height:100%;
				display:block; 
				clear:both;
				position:absolute;
			}
			div.linha{
				width:100%;
				clear:both;
				display:block; 
			}
			div.centro{
				margin-left:auto;
				margin-right:auto;
				left:auto;
				right:auto;
				float:none;
				display:block; 
				clear:both;
			}
			div.centropagina{
				margin-left:auto;
				margin-right:auto;
				left:auto;
				right:auto;
				float:none;
				display:block; 
				clear:both;
				width:880px;
			}
			div.esquerda{
				float:left;
				display:block;
			}
			div.direita{
				float:right;
				display:block;
			}
			@font-face {
				font-family: 'TahomaNegreta';
				src: url('../fonte/tahomabd-webfont.eot');
				src: url('../fonte/tahomabd-webfont.eot?#iefix') format('embedded-opentype'),
					 url('../fonte/tahomabd-webfont.woff') format('woff'),
					 url('../fonte/tahomabd-webfont.ttf') format('truetype'),
					 url('../fonte/tahomabd-webfont.svg#TahomaNegreta') format('svg');
				font-weight: normal;
				font-style: normal;
			}
			#titulo{
				font-size:30px;
				color:white;
				font-family:'Lucida Grande Bold';
				height:70px;
				line-height:70px;
				
				
			}
			#titulolaranja{
				font-size:18px;
				color:#fda931;
				font-family: 'arial';
				font-weight:bold
			}
			div.coluna{
				float:left;
				display:block;
				width:230px;
				height:270px;
			}
			div.texto{
				text-indent:5px;
				font-family: 'arial';
				color:#545454;
				font-size:14px;
				width:100%;
				text-align:left;
				word-spacing:0px
			}
			#formulario{
				padding-left:16px;
				padding-top:16px;
				font-family: Arial;
				color:#545454;
				font-size:14px;
				width:300px;
				height:268px;
				text-align:left;
				border-style:solid;
				border-color:#e7e6e6;
				border-width:1px;
				background-color:#f8f8f8;
			}
			#cadastro{
				width:160px;
				height:30px;
				display:block;
				border-style:solid;
				border-width:1px;
				border-color:#57a72b;
				background-color:#7bea3e;
				color:#fff;
				font-weight:bold;
				padding-left:0px;
				line-height:30px;
				text-align:center;
				text-indent:0px;
				text-decoration:none;
				margin-left:auto;
				margin-right:auto;
				left:auto;
				right:auto;
				float:none;
				display:block; 
				clear:both;
			}
			a.botao{
				text-decoration:none;
			}
			input.bottao{
				cursor:default;	
				cursor:pointer;
				width:70px;
				height:30px;
				display:block;
				border-style:solid;
				border-width:1px;
				border-color:#1071bc;
				background-color:#45a8fd;
				color:#fff;
				font-weight:bold;
				padding-left:0px;
				line-height:30px;
				text-align:center;
				text-indent:0px;
				float:right;
			}
			a.esqueci{
				color:#45a8fd;
				text-decoration:none;
				width:150px;
				height:30px;
				padding-top:15px;
				float:right;
			}
			#risco_cinza{
				background-color:#d8d9d9;
				height:1px;
				width:100%;
				clear:both;
				display:block; 
				
			}
			#rodape{
				font-family: 'arial';
				color:#696969;
				font-size:12px;
				height:30px;
				padding-top:15px;
				
			}
			div.cadastro_titulo{
				background-color:#FFFFAA;
				color:#6495ED;
				height:20px;
				font-size:14px;
				width:100%;
				clear:both;
				display:block; 
				text-align:center;
				margin-top:0px;
				top:0px;
			}
			#risco_cinza2{
				background-color:#d8d9d9;
				height:2px;
				width:100%;
				clear:both;
				display:block;				
			}
			div.texto_cadastro{
				color:#646463;
				float:left;
				width:150px;
				height:30px;
				text-align:right;
			}
			div.coluna_cadastro{
				float:left;
				display:block;
				width:360px;
				height:auto;
			}
			input.campo{
				float:left;
				width:200px;
				border-color:#646463;
				border-style:solid;
				border-width:1px;
			}
			select.campo{
				float:left;
				width:200px;
				border-color:#646463;
				border-style:solid;
				border-width:1px;
			}
			div.espaco_campo{
				float:left;
				width:10px;
				display:block;
				height:10px;
			}
			textarea.contrato{
				width:560px;
				height:150px;
				float:right;
				border-color:#646463;
				border-style:solid;
				border-width:1px;
			}
			a.inicial_menu{
				text-decoration:none;
			}
			div.inicial_menu{
				color:#696969;
				font-family:'arial';
				text-indent:20px;
				width:200px;
				height:30px;
				line-height:30px;
				display:block;
				clear:both;
				text-decoration:none;
				cursor:default;
				cursor:hand;
				
			}
			div.inicial_menu_selecionado{
				color:#78bcfc;
				background-color:#F0F8FF;
				font-family:'arial';
				text-indent:20px;
				width:200px;
				height:30px;
				line-height:30px;
				display:block;
				clear:both;
				text-decoration:none;
				
				cursor:default;
				cursor:hand;
			}
			div.inicial_lateral_menu{
				float:left;
				width:200px;
				height:auto;
				min-height:450px;
				border-right-style:solid;
				border-right-color:#eeeeee;
				border-right-width:1px;
				text-decoration:none;
			}
			div.inicial_buscar{
				position:absolute;
				top:25px;
				margin-left:300px;
			}
			#inicial_buscar_caixa_texto{
				border-style:solid;
				border-color:#b7b7b7;
				border-width:1px;
				text-decoration:none;
				width:200px;
				color:#999999;
				font-weight:bold;
			}
			#inicial_texto_buscar{
				margin-left:15px;
				position:absolute;
				color:#999999;
				font-family:'arial';
				
			}
			div.inical_meio_topo{
				width:450px;
				height:132px;
				float:left;
				border-style:solid;
				border-color:#fafafa;
				border-width:1px;
			}
			div.inical_logo{
				width:160px;
				height:80px;
				float:left;
			}
			div.inicial_mensagem_pedido{
				float:left;
				width:290px;
				height:80px;
				line-height:80px;
				color:#85a3ae;
				text-indent:10px;
			}
			div.inicial_contato_topo{
				width:160px;
				height:32px;
				color:#81c5fd;
				text-align:center;
			}
			div.inical_meio{
				width:450px;
				height:auto;
				float:left;
			}
			div.incial_noticias_fundo{
				width:450px;
				height:auto;
				display:block;
				float:left;
				background-color:#e9f3fc;
				padding-top:20px;
				padding-bottom:20px;
			}
			div.incial_noticias{
				width:410px;				
				min-height:400px;
				height:auto;
				background-color:#fefefc;
				margin-left:auto;
				margin-right:auto;
				left:auto;
				right:auto;
				float:none;
				display:block; 
				clear:both;
				border-color:#cae6fd;
				border-style:solid;
				border-width:1px;
			}	
			div.inicial_logo_mini{
				width:100px;
				height:50px;
				float:left;
			}
			div.inicial_noticia_titulo{
				color:#949493;
				float:left;
				font-family:'Arial';
				margin-top:10px;
				margin-left:10px;
				min-height:100px;
				height:auto;
			}
			div.risco_azul{
				background-color:#b5d7f4;
				height:1px;
				width:380px;
				display:block;
				margin-left:auto;
				margin-right:auto;
				left:auto;
				right:auto;
				clear:both;
			}
			div.inicial_notcia_titulo_promocao{
				background-color:#f2f2f2;
				color:#565656;
				width:100%;
				display:block;
				height:30px;
				line-height:30px;
				text-indent:5px;
				font-size:12px;
				font-weight:bold;
				clear:both;
			}
			div.inicial_notcia_titulo_empresa{
				color:#565656;
				width:100%;
				display:block;
				height:30px;
				line-height:30px;
				text-indent:5px;
				font-size:12px;
				clear:both;
			}
			div.risco_preto{
				background-color:black;
				height:1px;
				width:100%;
				display:block;
				clear:both;
			}
			#menu_produtos{
				width:100%;
				clear:both;
				display:none;
				padding-left:5px;
			}
			#menu_promocoes{
				width:100%;
				clear:both;
				display:none;
				padding-left:5px;
			}
			#menu_cotacoes{
				width:100%;
				clear:both;
				display:none;
				padding-left:5px;
			}
			div.cadastro_produto_titulo{
				background-color:#8B8B8B;
				color:#FFFFFF;
				height:20px;
				font-size:16px;
				width:100%;
				text-indent:10px;
				margin-left:auto;
				margin-right:auto;
				left:auto;
				right:auto;
				float:none;
				display:block; 
				clear:both;
			}
			div.cadastro_produto_menu{
				color:#72bcfc;
				font-family:'Arial';
				text-indent:20px;
				width:100%;
				height:30px;
				line-height:30px;
				display:block;
				clear:both;
				text-decoration:none;
				font-weight:bold;
			}
			div.cadastro_produto_menu_selecionado{
				color:#72bcfc;
				font-family:'Arial';
				text-indent:20px;
				width:100%;
				height:30px;
				line-height:30px;
				display:block;
				clear:both;
				text-decoration:none;
				font-weight:bold;
				background-color:#F9F9F9;
			}